<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userPasswordHistory">
            <h2><span>User Password History</span> {{userPasswordHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{userPasswordHistory.password}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{userPasswordHistory.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-password-history', userPasswordHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
